@font-face {
	font-family: 'NotoSansKR';
	src: url(./assets/font/NotoSansKR-Regular.otf);
}

@font-face {
	font-family: 'NotoSansKR';
	src: url(./assets/font/NotoSansKR-Bold.otf);
	font-weight: bold;
}
html,
body,
#root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: 'NotoSansKR';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
